body{
    font-family: Helvetica;
    background-color: pink;
}

#header{
    display: flex;
    justify-content: center;
}

#box1{
    background-color: white;
}

h1{
    justify-content: center;
}


.flag{
    display: flex;
    padding-left: 300px;
}