<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/country.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" >
    <title>{{country}} info</title>

</head>

<body>
    <div id='header'>
        <div>
            <ul>
                <h1 class="text-xs-center"><b>Welcome to {{country}}</b></h1>
                <h2><b>The most prevalent disease here is you</b></h2>
            </ul>
        </div>
    </div>

<main>
    <div id='box1'>
        <div id='text'><b>Malaria is a disgusting disease that plagues this earth, do not go to any country with malaria</b>
        </div>
        <img class="flag" src="/static/pham.GIF" alt="Pham"></class>
    </div>
</main>


</body>

</html>