<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{country}} info</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style/country.css">
</head>

<body>
    <div id='bar'>
        <div>
            <ul>
                <li><b><a href="/">AIRBORNE</b></a></li>
                <li><a href="/">Keep those diseases grounded!</a></li>
            </ul>
        </div>
    </div>
    <div id='header'>
        <div class='top'>
            <h1><b>So you're headed to <span>{{country}}</span>?</b></h1>
        </div>
        <div class='bot'>
            <h2><b>The most prevalent disease here is <span>{{d}}</span> </b></h2>
        </div>


    </div>

    <main id='box3'>
        <div class='desc'>
            <h3>What is it?</h3>
        </div>
        <div class='text'>Human immunodeficiency virus (HIV) is an infection that attacks the body’s immune system,
            specifically the white blood cells called CD4 cells. HIV destroys these CD4 cells, weakening a person’s
            immunity against infections such as tuberculosis and some cancers. If the person’s CD4 cell count falls
            below 200, their immunity is severely compromised, leaving them more susceptible to infections. Someone with
            a CD4 count below 200 is described as having AIDS (acquired immunodeficiency syndrome). <a
                href="https://www.who.int/">(World Health
                Organization)</a>
        </div>
        <div class='desc'>
            <h3>Symptoms</h3>
        </div>
        <div class='text'>Many people do not feel symptoms of HIV in the first few months after infection and may not
            know that they are infected. Others may experience influenza-like symptoms, including fever, headache, rash
            and sore throat. However, these first few months are when the virus is most infectious. As the disease
            progresses, symptoms will be expanded and more pronounced. These can include swollen lymph nodes, weight
            loss, fever, diarrhoea and cough. <a href="https://www.who.int/">(World Health Organization)</a></div>
        <div class='desc'>
            <h3>Transmission</h3>
        </div>
        <div class='text'>HIV can be transmitted via the exchange of a variety of body fluids from infected people, such
            as blood, breast milk, semen and vaginal secretions. HIV can also be transmitted from a mother to her child
            during pregnancy and delivery. Individuals cannot become infected through ordinary day-to-day contact such
            as kissing, hugging, shaking hands, or sharing personal objects, food or water.
            <a href="https://www.who.int/">(World Health Organization)</a>
        </div>
        <div class='desc'>
            <h3>Prevention</h3>
        </div>
        <div class='text'>Individuals can reduce the risk of HIV infection by limiting exposure to risk factors. Key
            approaches for HIV prevention, which are often used in combination, are listed below. <a
                href="https://www.who.int/">(World Health Organization)</a>
            <ul>
                <li>-Male and female condom use</li>
                <li>-Testing and counselling for HIV and STIs</li>
                <li>-Testing and counselling, linkages to tuberculosis (TB) care</li>
                <li>-Voluntary medical male circumcision (VMMC)</li>
                <li>-Harm reduction for people who inject and use drugs</li>
            </ul>
        </div>

    </main>


</body>

</html>