<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{country}} info</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style/country.css">
</head>

<body>
    <div id='bar'>
        <div>
            <ul>
                <li><b><a href="/">AIRBORNE</b></a></li>
                <li><a href="/">Keep those diseases grounded!</a></li>
            </ul>
        </div>
    </div>
    <div id='header'>
        <div class='top'>
            <h1><b>So you're headed to <span>{{country}}</span>?</b></h1>
        </div>
        <div class='bot'>
            <h2><b>The most prevalent disease here is <span>{{d}}</span> </b></h2>
        </div>


    </div>

    <main id='box3'>
        <div class='desc'>
            <h3>What is it?</h3>
        </div>
        <div class='text'>Humans can be infected with avian, swine and other zoonotic influenza viruses, such as avian
            influenza virus subtypes A(H5N1), A(H7N9), and A(H9N2) and swine influenza virus subtypes A(H1N1), A(H1N2)
            and A(H3N2). Influenza viruses, with the vast silent reservoir in aquatic birds, are impossible to
            eradicate. Zoonotic influenza infection in humans will continue to occur. Avian, swine and other zoonotic
            influenza virus infections in humans may cause disease ranging from mild upper respiratory tract infection
            (fever and cough), early sputum production and rapid progression to severe pneumonia, sepsis with shock,
            acute respiratory distress syndrome and even death. <a href="https://www.who.int/">(World Health
                Organization)</a>
        </div>
        <div class='desc'>
            <h3>Symptoms</h3>
        </div>
        <div class='text'>Avian, swine and other zoonotic influenza infections in humans may cause disease ranging from
            mild upper respiratory infection (fever and cough) to rapid progression to severe pneumonia, acute
            respiratory distress syndrome, shock and even death. Gastrointestinal symptoms such as nausea, vomiting and
            diarrhea have been reported more frequently in A(H5N1) infection. Conjunctivitis has also been reported in
            influenza A(H7). Disease features such as the incubation period, severity of symptoms and clinical outcome
            varies by the virus causing infection but mainly manifests with respiratory symptoms. <a
                href="https://www.who.int/">(World Health Organization)</a></div>
        <div class='desc'>
            <h3>Treatment</h3>
        </div>
        <div class='text'>Evidence suggests that some antiviral drugs, notably neuraminidase inhibitors (oseltamivir,
            zanamivir), can reduce the duration of viral replication and improve prospects of survival, however ongoing
            clinical studies are needed. <a href="https://www.who.int/">(World Health Organization)</a></div>
        <div class='desc'>
            <h3>Prevention</h3>
        </div>
        <div class='text'>Apart from antiviral treatment, the public health management includes personal protective
            measures like: <a href="https://www.who.int/">(World Health Organization)</a>
            <ul>
                <li>-Regular hand washing with proper drying of the hands</li>
                <li>-Good respiratory hygiene – covering mouth and nose when coughing or sneezing, using tissues and
                    disposing of them correctly</li>
                <li>-Early self-isolation of those feeling unwell, feverish and having other symptoms of influenza</li>
                <li>-Avoiding close contact with sick people</li>
                <li>-Avoiding touching one’s eyes, nose or mouth</li>
            </ul>
        </div>
    </main>


</body>

</html>