<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/landingpage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <title>Welcome!</title>
</head>

<body>
    <div id='bar'>
        <div>
            <ul>
                <li><b><a href="/">AIRBORNE</b></a></li>
                <li><a href="/">Keep those diseases grounded!</a></li>
            </ul>
        </div>
    </div>

    <main>
        <div id='first'>
            <div id='info'>Scared of contracting an illness in a foreign country? Worried about infecting your family?
                Don't hesitate, get educated!
            </div>
        </div>
        <div id='second'>
            <div id='search-info'>
                <h2>Enter a country to see disease information!</h2>
            </div>
            <div id='search-bar'>
                <form action="" method="POST">
                    <input class='searchtxt' type="text" name='country' placeholder="Enter a location...">
                    <button type="submit" class="searchbutton">Go!</button>
                </form>
            </div>
            <p id='e'>{{errorm}}</p>
        </div>
    </main>

</body>

</html>