<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{country}} info</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style/country.css">
</head>

<body>
    <div id='bar'>
        <div>
            <ul>
                <li><b><a href="/">AIRBORNE</b></a></li>
                <li><a href="/">Keep those diseases grounded!</a></li>
            </ul>
        </div>
    </div>
    <div id='header'>
        <div class='top'>
            <h1><b>So you're headed to <span>{{country}}</span>?</b></h1>
        </div>
        <div class='bot'>
            <h2><b>The most prevalent disease here is <span>{{d}}</span> </b></h2>
        </div>


    </div>

    <main id='box3'>
        <div class='desc'>
            <h3>What is it?</h3>
        </div>
        <div class='text'>Malaria is a life-threatening disease caused by parasites that are transmitted to people
            through
            the bites of infected female Anopheles mosquitoes. It is preventable and curable. In 2019, there were an
            estimated 229 million cases of malaria worldwide. The estimated number of malaria deaths stood at 409 000 in
            2019. The parasites are spread to people through the bites of infected female Anopheles mosquitoes, called
            "malaria vectors." There are 5 parasite species that cause malaria in humans, and 2 of these species – P.
            falciparum and P. vivax – pose the greatest threat. <a href="https://www.who.int/">(World Health
                Organization)</a>
        </div>
        <div class='desc'>
            <h3>Symptoms</h3>
        </div>
        <div class='text'>In a non-immune individual, symptoms usually appear 10–15 days after the infective mosquito
            bite. The first
            symptoms – fever, headache, and chills – may be mild and difficult to recognize as malaria. If not treated
            within 24 hours, P. falciparum malaria can progress to severe illness, often leading to death. <a
                href="https://www.who.int/">(World Health Organization)</a></div>
        <div class='desc'>
            <h3>Transmission</h3>
        </div>
        <div class='text'>WHO recommends protection for all people at risk of malaria with effective malaria vector
            control. Two
            forms of vector control – insecticide-treated mosquito nets and indoor residual spraying – are effective in
            a wide range of circumstances. <a href="https://www.who.int/">(World Health Organization)</a></div>
        <div class='desc'>
            <h3>Prevention</h3>
        </div>
        <div class='text'>WHO recommends protection for all people at risk of malaria with effective malaria vector
            control. Two
            forms of vector control – insecticide-treated mosquito nets and indoor residual spraying – are effective in
            a wide range of circumstances. <a href="https://www.who.int/">(World Health Organization)</a></div>
    </main>


</body>

</html>