<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{country}} info</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style/country.css">
</head>

<body>
    <div id='bar'>
        <div>
            <ul>
                <li><b><a href="/">AIRBORNE</b></a></li>
                <li><a href="/">Keep those diseases grounded!</a></li>
            </ul>
        </div>
    </div>
    <div id='header'>
        <div class='top'>
            <h1><b>So you're headed to <span>{{country}}</span>?</b></h1>
        </div>
        <div class='bot'>
            <h2><b>The most prevalent disease here is <span>{{d}}</span> </b></h2>
        </div>


    </div>

    <main id='box3'>
        <div class='desc'>
            <h3>What is it?</h3>
        </div>
        <div class='text'>Tuberculosis (TB) is caused by bacteria (Mycobacterium tuberculosis) that most often affect
            the lungs. Tuberculosis is curable and preventable. About one-quarter of the world's population has a TB
            infection, which means people have been infected by TB bacteria but are not (yet) ill with the disease and
            cannot transmit it. People infected with TB bacteria have a 5–15% lifetime risk of falling ill with TB.
            Those with compromised immune systems, such as people living with HIV, malnutrition or diabetes, or people
            who use tobacco, have a higher risk of falling ill. <a href="https://www.who.int/">(World Health
                Organization)</a>
        </div>
        <div class='desc'>
            <h3>Symptoms</h3>
        </div>
        <div class='text'>Common symptoms of active lung TB are coughing with sputum and blood at times, chest pains,
            weakness, weight loss, fever and night sweats. Tuberculosis is particularly difficult to diagnose in
            children. <a href="https://www.who.int/">(World Health Organization)</a></div>
        <div class='desc'>
            <h3>Treatment</h3>
        </div>
        <div class='text'>TB is a treatable and curable disease. Active, drug-susceptible TB disease is treated with a
            standard 6-month course of 4 antimicrobial drugs that are provided with information and support to the
            patient by a health worker or trained volunteer. Without such support, treatment adherence is more
            difficult. If you have TB disease, it takes six months and possibly as long as one year to kill all the TB
            germs. <a href="https://www.who.int/">(World Health Organization)</a></div>
        <div class='desc'>
            <h3>Prevention</h3>
        </div>
        <div class='text'>Ending the TB epidemic by 2030 is among the health targets of the United Nations Sustainable
            Development Goals (SDGs). You can also protect your family and friends from TB – take ALL your TB drugs! <a
                href="https://www.cdc.gov/">(Center for Disease Control and Preventions) </a></div>
    </main>


</body>

</html>